@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@font-face {
    font-family: Handwriting;
    src: url(Handwriting-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Dosis, 'Trebuchet MS';
    font-size: 16px;
}
