@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@font-face {
    font-family: Handwriting;
    src: url(Handwriting-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #000;
}

.explore-link {
    text-decoration: none;
    font-family: Handwriting;
    padding: 15px;
    margin: auto;
    color: #fff;
    font-size: 10em;
    border-radius: 10px;
}

.explore-link:hover {
    background-color: #fff;
    color: #000;
}
