.shop-page-main {
    width: 75vw;
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column  ;
    height: auto;
    text-align: center;
}

.shop-content-container {
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border: 5px solid #f0f0f0;
    background-color: #ffffff;
}

.image-container img {
    width: auto;
    height: 150px;
    border: 1px solid #00000020;
}

.desc-container,    
.shopping-container {
    margin: auto;
    padding: 5px;
}
.price-tag   {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.shop-buttons {
    display: flex;
    flex-direction: column;
}

.shop-buttons a {
    width: auto;
    margin: 5px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 10px;
    background-color: #00000020;
}

.shop-buttons a:hover {
    background-color: #00000030;
    transition: 1s;
}
