.work-list {
    top: 65px;
    z-index: 1;
    left: 10px;
    width: 12%;
    padding: 10px;
    display: flex;
    position: fixed;
    font-size: 15px;
    flex-direction: column;
    background-color: #00000020;
}

.work-link {
    width: auto;
    padding: 5px;
    color: #000000;
    text-decoration: none;
}

.work-link:hover {
    background-color: #00000020;
    transition: 1s;
}

.selected-link {
    background-color: #00000020;
}

.work-page-main {
    position: relative;
    top: 50px;
    width: 70vw;
    margin: 0px auto;
    background-color: #ffffff;
}

.work-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container {
    width: 225px;
    margin: auto;
}

.list-image {
    height: auto;
}

.list-image:hover {
    opacity: 50%;
    cursor: pointer;
    transition: 1s;
}

#cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #000000A0;
    backdrop-filter: blur(5px);
}

#large-display {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: 10;
}

.large-image {
    margin: 0 auto;
    width: auto;
    height: 80vh;
}

.large-image-description {
    padding: 10px;
    background-color: #ffffff80;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 75%;    
}

#cancel {
    margin: 15px auto;
    width: auto;
    background-color: #ffffff80;
    padding: 10px;
    border-radius: 5px;
}

#cancel:hover {
    background-color: #ffffff50;
    cursor: pointer;
}
